<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      MediAlert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MediAlert</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>¡Bienvenido a MediAlert!</h1>
    <p>Tu aplicación personal para recordatorios de medicamentos</p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Módulos Disponibles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" routerLink="/recordatorios" color="primary">
          <ion-icon name="notifications" slot="start"></ion-icon>
          Configurar Recordatorios
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
